# Ambienti Virtuali
venv/
.env

# Dati pesanti (Fondamentale!)
data/
workspace/
*.JPG
*.png
*.ply
*.obj
*.stl

# Cache e Python
__pycache__/
*.py[cod]
.pytest_cache/
.DS_Store

# IDE
.vscode/
.idea/

#engines
engines/*